.header {
	height: 65px;
	margin: 0 15px;
	&__logo {
		color: white !important;
		width: 40px;
		height: 40px;
		margin-top: -7px;
		margin-right: 10px;
		@media (max-width: 650px) {
			width: 35px;
			height: 35px;
		}
		&-text {
			color: white !important;
			@media (max-width: 650px) {
				font-size: 1.7em;
			}
		}
	}
	&__about {
		color: white !important;
		font-size: 1.6em;
		transform: translateY(-1.5px);
		@media (max-width: 650px) {
			font-size: 1.2em;
		}
	}
	&__audio {
		color: white !important;
		width: 1.5em;
		height: 1.5em;
		transform: translateY(-1px);
		cursor: pointer;
		@media (max-width: 650px) {
			width: 1em;
			height: 1em;
		}
	}
}
